#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.section-1 {
  background-color: aliceblue;
}

.section-2 {
  background-color: azure;
}

.section-3 {
  background-color: bisque;
}

.section-4 {
  background-color: blanchedalmond;
}