html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  scroll-behavior: smooth;
}

.content-container {
  padding-top: 0;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* top navbar  start*/
.navbar-top-hp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 45px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-top-hp ul {
  display: flex;
  width: auto;
  width: 100%;
}

.navbar-top-hp li {
  list-style: none;
}

.navbar-top-hp li a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 15px;
  color: white;
  font-family: "Neue Machina", sans-serif;
  font-weight: bold;
}

.navbar-top-hp ul li:last-child {
  margin-left: auto;
}

.lg-title {
  font-family: "Neue Machina", sans-serif;
  padding-left: 40px;
}

.lg-title a {
  text-decoration: none;
  color: white;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* top navbar  end*/

/* Sections styling */
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  box-sizing: border-box;
  overflow: visible;
  background-color: black;
}

.section-5{
  position: relative;
}
.arrowDown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chevronDown {
  animation: blink 1.5s infinite;
  color: white;
  font-size: 2.5rem;
}

/* resize layout to smaller screens*/
@media (max-width: 768px) {
  html,
  body {
    font-family: "Hanken Grotesk", sans-serif;
  }

  .content-container {
    scroll-snap-type: none;
  }
  /* navbar for mobile version */
  .navbar-top-hp ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 5vh;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    transition: right 0.5s ease-in-out;
    z-index: 999;
  }

  .navbar-top-hp {
    padding: 1.5vh;
  }

  .navbar-top-hp ul.nav-menu.active {
    right: 0;
    display: flex;
  }

  .navbar-top-hp ul li:last-child {
    margin-left: 0;
  }

  .menu-icon {
    display: block;
    margin-right: 20px;
  }

  .lg-title {
    padding-left: 20px;
  }

  /* Homepage section resize */
  .section-1 {
    min-height: 40vh;
  }
  .hp-content {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: top 29vh right;
    max-height: 90vh;
  }
  .hp-text {
    margin-top: 10vh;
    margin-left: 10vw;
  }

  .hp-text h1 {
    font-size: 13vw;
  }

  .hp-text br {
    display: inline;
  }

  .hp-text h1 + h1 {
    margin-top: 5vh;
  }

  .hp-social {
    margin-top: 5vh;
    display: flex;
    align-items: center;
  }

  .social-square-text {
    display: none;
  }
  .social-square {
    height: 5vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .left-arrow {
    display: none;
  }

  .social-icon {
    width: 40vw;
    font-size: 6vw;
    padding: 2vh;
  }

  .github-icon,
  .linked-icon {
    width: 38px;
    height: 38px;
  }

  /* About section resize*/
  .about-content {
    padding-top: 0vh;
  }

  .about-info {
    flex-direction: column;
  }

  .about-title {
    font-size: 5vw;
  }

  .about-info img {
    width: 60%;
    max-width: 200px;
    margin-bottom: 4vh;
  }

  .about-info div {
    max-width: 80vw;
  }

  .about-info p {
    font-size: 2.5vw;
  }

  .square-text {
    border: none;
    padding-top: 0;
  }

  .square-text span {
    display: none;
  }

  /* Project section resize */
  .project-section {
    padding-top: 0px;
  }
  .pj-section-1,
  .pj-section-2 {
    flex-direction: column;
    align-items: center;
  }

  .pj-section-2 {
    flex-direction: column-reverse;
  }
  .pj-1,
  .pj-2,
  .pj-3,
  .pj-4 {
    width: 100%;
    height: 50vh;
  }
  .pj-1 span,
  .pj-2 span,
  .pj-4 span {
    top: 20px;
  }

  .pj-1 img {
    width: 350px;
    height: 195px;
    margin-top: 16.7vh;
  }

  .pj-2 img,
  .pj-4 img {
    width: 350px;
    height: 195px;
    margin-top: 10vh;
  }

  .pj-2 img {
    margin-top: 15vh;
  }

  .pj-2 {
    background-color: white;
  }

  .pj-4 .square-arrow {
    top: 2vh;
    margin: auto;
  }

  /* Skills rezise screen */
  .section-4 {
    min-height: 50vh;
  }
  .skills-body {
    padding-top: 8vh;
    background-size: 0%;
    max-height: 80vh;
  }
  .perspective-grid {
    display: none;
  }

  .skills-square {
    flex-direction: column;
    margin: 10px;
  }

  .skills-square-text {
    width: 55%;
    max-width: none;
    height: 4vh;
    margin: 7px 0;
  }

  .skills-square-text span {
    font-size: 14px;
  }

  /* contact resize screen */
  .section-5 {
    min-height: 80vh;
  }
  .contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .contact-body::before {
    background-size: 0;
  }
  .contact-body::after {
    width: 40vw;
    height: 15vh;
    bottom: 0;
    right: 0;
  }

  .contact-body .about-title {
    margin-bottom: 1vh;
  }

  .contact-body p {
    width: 80%;
    margin-top: 0;
  }

  .contact-form {
    width: 80%;
    margin-top: 4vh;
  }

  .footer-social-icon{
    display: none;
  }

}
/* resize ipad */
@media (max-width: 1024px) {
}

/* Resize layout to bigger screens*/
@media (min-width: 1920px) {
  /* HomePage section*/
  .hp-content {
    padding-top: 5vh;
    background-size: 50%;
    background-position: top 7.5vh right;
  }

  .hp-text h1 {
    font-size: 5vw;
  }

  .hp-social {
    margin: 9vh 7vw;
  }

  .social-square-text,
  .social-square {
    font-size: 0.75vw;
    width: 30vw;
    height: 2vh;
    padding: 0.8vw 2vw;
  }

  .social-square .social-icon {
    padding: 0.35vw 1vw;
    background-color: white;
    color: black;
    text-decoration: none;
  }

  .linked-icon,
  .github-icon {
    width: 33px;
    height: 33px;
    margin-left: auto;
  }

  /* About Section */

  .about-info img {
    max-width: none;
    height: auto;
    margin-right: 2vw;
    margin-bottom: 0;
  }

  .about-info p {
    font-size: 1.2em;
  }

  .square-text {
    display: none;
  }

  /* Projects section*/
  .pj-1 img,
  .pj-4 img,
  .pj-2 img {
    width: 16.4vw;
    height: 22.5vh;
    margin-top: 8.8vh;
  }

  .pj-4 img {
    margin-top: 4vh;
  }

  .pj-4 .square-arrow{
    margin-top: 1vh;
  }
  /* Skills section */
  .skills-body {
    background-size: 23%;
    padding-top: 4vh;
  }

  .skills-image {
    max-width: 50vw;
    margin-top: 6vh;
  }

  /* Contact section*/
  .contact-body p {
    font-size: 1.5em;
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: auto;
  box-sizing: border-box;
  bottom:0;
  position: absolute;
}

.footer-social-icon{
  margin-bottom: -0.9vh;
}

.footer-social-icon a{
  text-decoration: none;
  color: white;
  margin: 0.5vw;
}

.footer-social-icon a:hover{
  color: #eeeb97;
  
}