html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

.content-container {
  padding-top: 0;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* top navbar  start*/
.navbar-top-hp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 45px;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-top-hp ul {
  display: flex;
  width: auto;
  width: 100%;
}

.navbar-top-hp li {
  list-style: none;
}

.navbar-top-hp li a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 15px;
  color: white;
  font-family: 'Neue Machina', sans-serif;
  font-weight: bold;
}


.navbar-top-hp ul li:last-child {
  margin-left: auto;
}

.lg-title {
  font-family: 'Neue Machina', sans-serif;
  padding-left: 40px;
}

.lg-title a {
  text-decoration: none;
  color: white;
}

/* top navbar  end*/

/* Sections styling */
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  scroll-snap-align: start;
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent content from overflowing */
  background-color: black;
}

.arrowDown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes blink {
  0% { opacity: 1;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

.chevronDown {
  animation: blink 1.5s infinite;
  color: white;
  font-size: 2.5rem;
}

.navbar {
  position: fixed;
  top: 35%;
  right: 20px;
  width: 4%;
  background-color: white;
  border-radius: 35px;
  z-index: 1000;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar li {
  margin: 20px 0;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, color 0.2s;

}

.navbar a:hover {
  color: rebeccapurple;
  transform: scale(2.2);
}

.top-navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.navbar-left {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
}

.burger-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.burger-menu svg {
  font-size: 24px;
  color: black;
}

.nav-links {
  position: absolute;
  top: 34px;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px 0;
  display: none;
}

.nav-links.show {
  display: block;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: rebeccapurple;
}

@media (min-width: 769px) {
  .top-navbar {
    display: none;
  }

  .navbar {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .top-navbar {
    display: flex;
  }
}